extends layouts/main
include mixins/videoBlock

block content
  .home-videos
    each video in videos
      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})

      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})

      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})


      +videoBlock({title: video.title,
      id: video.id,
      views: video.views,
      videoFile: video.fileUrl})